---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

Journal Papers
======
* **C. Liang and D. Li**, "Joint Source-Channel Noise Adding With Adaptive Denoising for Diffusion-Based Semantic Communications," in IEEE Internet of Things Journal, Jul. 2025, doi: 10.1109/JIOT.2025.3589398.
* **C. Liang**, et al., "Selection-Based Image Generation for Semantic Communication Systems," in IEEE Communications Letters, Jan. 2024, doi: 10.1109/LCOMM.2023.3339534.



